* {
    font-family: 'Roboto'
}

body{
    margin:0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-rows: 20% 40% 40%;
    place-items: center center;
    width: 100vw;
    height: 100vh;
    justify-items: center;

}
.titlePage{
    background: url("../images/backgroundReal.png");
    background-repeat: none;
    background-size: cover;
}

.title{
    font-size: 6em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
}

.disc{
    text-align: center;
    color: lightgrey;
}
/*
.buttons{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}
*/

.icon {
    font-size: 32px;
}

.button{
    border: none;
    color: #000307;
    background-color:#F2B945;

    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    cursor: pointer;
    border-radius:10px;
}

.button:hover {
    color: whitesmoke;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 7vh;
    }
    .icon {
        font-size: 26px;
    }
    .button {
    padding: 6px 20px;

    }
}
